[submodule "code/reconstruction/sam3"]
	path = code/reconstruction/sam3
	url = https://github.com/facebookresearch/sam3.git
[submodule "code/reconstruction/InstantMesh"]
	path = code/reconstruction/InstantMesh
	url = https://github.com/TencentARC/InstantMesh.git
[submodule "code/reconstruction/sam3d_objects"]
	path = code/reconstruction/sam3d_objects
	url = https://github.com/oukousan/sam-3d-objects.git
[submodule "code/reconstruction/shigure_core"]
	path = code/reconstruction/shigure_core
	url = https://github.com/Rits-Interaction-Laboratory/shigure_core.git
