########################################
# ========== Unity ==========
########################################

/H2AI/[Ll]ibrary/
/H2AI/[Tt]emp/
/H2AI/[Oo]bj/
/H2AI/[Bb]uild/
/H2AI/[Bb]uilds/
/H2AI/[Ll]ogs/
/H2AI/MemoryCaptures/
/H2AI/UserSettings/
/H2AI/[Oo]utput/
# Unity auto generated
sysinfo.txt

########################################
# ========== Visual Studio / Rider ==========
########################################

/H2AI/**/.vs/
/H2AI/**/.idea/
/H2AI/**/*.csproj
/H2AI/**/*.sln
/H2AI/**/*.user
/H2AI/**/*.userprefs

########################################
# ========== Python ==========
########################################

__pycache__/
*.pyc
*.pyo
*.pyd

########################################
# ========== AI / Models ==========
########################################

/models/

########################################
# ========== Data ==========
########################################

/data/database/
/data/output/
/data/RecordPhotoAndVideo/
/data/upload/
/data/aruco/runtime/
########################################
# ========== Logs ==========
########################################

*.log

########################################
# ========== OS ==========
########################################

.DS_Store
Thumbs.db
